.About {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.About_All {
    display: flex;
    overflow: hidden;
    margin-top: 2vw;
}

.About_List:nth-child(1) {
    display: flex;
    justify-content: center;
}

.About_List:nth-child(2) {
    width: 100%;
}
.About_List {
    width: 100%;
}

.About_List > img {
    height: 40rem;
    width: auto;
    margin-top: 6.2rem;
    border-radius: 5px;
}

.About_Content {
    margin-top: 3rem;
    width: 95%;
}

.About_LineText {
    width: 10.5rem;
}

.About_Content > p {
    width: 80%;
    line-height: 25px;
}

.About_Content_List {
    display: flex;
    margin-left: -2rem;
    margin-top: 2rem;
}

.About_Content_List_Items > li {
    padding: 0.5rem 0;
}

.About_Btn {
    margin-top: 6rem;
}
