.Contact {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
/* .Contact_LineText {
    width: 15rem;
} */
.Contact_All {
    width: 100%;
    margin: 0 auto;
}
.Contact_Nav {
    display: flex;
    justify-content: center;
}

.Contact_Title {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    z-index: 100;
    justify-content: center;
}
.Contact_Title > p {
    position: relative;
    color: white;
    font-size: 3.875rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.Contact_Title > p:nth-child(1) {
    color: var(--primary-color);
    margin-right: 2rem;
}

/* ---input */
.Contact_Input {
    margin-top: 2rem;
    margin-left: 4rem;
}
.Contact_Input > input {
    display: block;
    background-color: #2b2d41;
    border: none;
    height: 4rem;
    width: 40rem;
    border-radius: 5px;
    margin: 1.5rem 0;
    padding: 0 1rem;
    color: white;
    outline: none;
    line-height: 2rem;
    font-size: 1.1rem;
}
.Contact_Input > input:nth-child(4) {
    word-wrap: break-word;
    padding-bottom: 5rem;
}

.Contact_Button {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    letter-spacing: 0.5px;
    margin-top: 2rem;
}

/* Contact */
.Contact_List {
    margin-top: 2.5rem;
}
.Contact_Items {
    width: 30rem;
    height: 10rem;
    background-color: #282a41;
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.Contact_Circle {
    width: 5rem;
    height: 5rem;
    border: #999999 solid 1px;
    border-radius: 50%;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--primary-color);
}

.Contact_Text {
    padding-left: 1.5rem;
}
.Contact_Text_Title {
    font-size: 1.3rem;
    color: white;
    padding-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.Contact_Text_Items {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0.7;
}
.Contact_Text_Items > p {
    padding-left: 0.5rem;
}
