.RedLine {
    height: 15rem;
    width: 32rem;
    transform: rotate(90deg);
    /* background-color: aquamarine; */
    position: absolute;
    margin-top: 12rem;
    z-index: 1;
}

.RedLine_List {
    position: relative;
    z-index: 1;
    height: 0.3rem;
    background-color: var(--primary-color);
    margin-top: 7.3rem;
}

.RedLine_Circle {
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: space-around; /* Adjust the spacing between circles */
    align-items: center; /* Center the circles vertically */
    margin-top: -15px; /* Move the circles upwards */
}

.Circle {
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}
