.RedLine {
    width: 40rem;
    width: 40rem;
    margin-top: 100px;
    transform: rotate(90deg);
}

.RedLine_List {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 0.3rem;
    background-color: var(--primary-color);
    margin-top: 3rem;
}

.RedLine_Circle {
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: space-around; /* Adjust the spacing between circles */
    align-items: center; /* Center the circles vertically */
    margin-top: -15px; /* Move the circles upwards */
}

.Circle {
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}
